*:focus, *:active {
	outline: none !important;
	box-shadow: none !important;
}

hr {
	border-width: 1.5px;
}

/* text */

.text-bold {
	font-weight: bold;
}

.text-regular {
	font-weight: normal;
}

.gray-soft {
	color: #838E95;
}

/* hero */

#hero {
	-webkit-transition: margin 0.25s linear;
	margin-bottom: 5vh;
}

.hero {
	margin-top: 30vh;
}

.special {
	background: -webkit-linear-gradient(right, #9F2FFF, #0BB1D3);
	-webkit-background-clip: text;
	color: transparent;
}

.title {
	text-align: center;
	font-size: 6rem;
	font-weight: 500;
	line-height: 1;
	margin: 1.5rem auto;
	width: 9ch;
}

/* search */

.search {
	background: #F1F3F4;
	border-radius: 2em;
	padding: 0.5em 1em;
	margin: 0 auto;
	width: 66%;
}

.search:hover {
	background: rgb(232,234,237);
}

.search input {
	border: none;
	padding: 0 0 0.075em 0;
	background: transparent;
	width: calc(100% - 1.5rem);
}

.search button {
	border: none;
	background: transparent;
	padding: 0;
}

@keyframes hue {
	0% {color: #9F2FFF;}
	50%	{color: #0BB1D3;}
	100% {color: #9F2FFF;}
}

.hue {
	animation-name: hue;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

/* help */

#help {
	position: fixed;
	bottom: 0;
	left: 0;
	-webkit-transform: translate(-20%, 0);
	width: 3rem;
	height: 3rem;
	margin: 1rem;
	background: -webkit-linear-gradient(right, #9F2FFF, #0BB1D3);
	-webkit-mask-image: url(../images/svg/question.svg);
}

#help:hover {
	cursor: pointer;
}

/* explanation */

#explanation {
	margin: 0 0 15vh 0;
}

.code {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 1.2em;
}

.table-hover tbody tr:hover {
	background-color: #F1F3F4;
}

.key {
	font-weight: 400;
}

.unique {}