*:focus, *:active {
	outline: none !important;
	box-shadow: none !important;
}

hr {
	border-width: 1.5px;
}

section {
	padding-top: 15vh;
	min-height: 100vh;
}

section > .container {
	position: relative;
}

section > .container tbody {
	overflow-y: scroll;      
	max-height: 60vh;
	position: absolute;
}

section > .container tr {
	width: 100%;
	display: inline-table;
	table-layout: fixed;
}

/* text */

.text-bold {
	font-weight: bold;
}

.text-regular {
	font-weight: normal;
}

.gray-soft {
	color: #838E95;
}

samp {
	font-weight: bold;
}

.code {
	font-weight: bold;
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.special {
	background: -webkit-linear-gradient(right, #9F2FFF, #0BB1D3);
	-webkit-background-clip: text;
	color: transparent;
}

/* hero */

#hero {
	padding-top: 33vh;
}

.title {
	text-align: center;
	font-size: 6rem;
	font-weight: 500;
	line-height: 1;
	margin: 0 auto;
	width: 9ch;
}

.sub-title {
	text-align: center;
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

/* search */

.search {
	background: #F1F3F4;
	border-radius: 2em;
	padding: 0.5em 1em;
	margin: 1.5rem auto;
	width: 66%;
}

.search:hover {
	background: rgb(232,234,237);
}

.search input {
	border: none;
	padding: 0 0 0.075em 0;
	background: transparent;
	width: calc(100% - 1.5rem);
}

.search button {
	border: none;
	background: transparent;
	padding: 0;
}

@keyframes hue {
	0% {color: #9F2FFF;}
	50%	{color: #0BB1D3;}
	100% {color: #9F2FFF;}
}

.hue {
	animation-name: hue;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

/* help */

#help {
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: translate(15%, 0);
	width: 3rem;
	height: 3rem;
	margin: 1rem;
	background: -webkit-linear-gradient(right, #9F2FFF, #0BB1D3);
	-webkit-mask-image: url(../images/svg/question.svg);
}

#help:hover {
	cursor: pointer;
}

/* plan */

#plan {
	padding-top: 33vh;
}

.plan {
	width: 75%;
	margin: 0 auto;
	display: flex;
}

.plan > div {
	width: 10rem;
	margin: 0 auto;
}

.plan a {
	color: initial;
}

.plan a:hover {
	color: inherit;
}

/* publications */

.search_matricule {
	width: 40%;
	margin: 0 auto;
}

.search_matricule button {
	border: none;
	background: -webkit-linear-gradient(right, #9F2FFF, #0BB1D3);
}

#q2b td:first-child, #q2b th:first-child {
	width: 60%;
}

#q2b td:not(:first-child), #q2b th:not(:first-child) {
	text-align: center;
}

/* authors */

#authors .container {
	width: 20%;
}

#q2d td:first-child, #q2d th:first-child {
	width: 30%;
	text-align: center;
}

/* subjects */

#subjects .container {
	width: 15%;
}

#q2e td:last-child, #q2e th:last-child {
	width: 30%;
	text-align: center;
}

/* help-modal */

#help-modal .modal-content {
	background-color: white;
	padding: 1.5rem;
	border: none;
	border-radius: 0;
}